body{
    font-family: Roboto;
    background: #D2C1B5;
    margin: 0%;
    color: white;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto 60% 40%;
    grid-template-areas: "body";
}

body section{
    background: #D2C1B5;
}

body section div div div div h2{
    padding-top: 50px;
}

.img-cover {
    height: 50%;
    width: 50%;
}

header nav {
	padding: 40px;
	background: black;
	color: #fff;
}

header nav div a strong {
    font-style: Righteous;
}
  
header nav div div ul {
	float: right;
	list-style: none;
	color: white;
}
  
header nav div div ul li {
	display: inline-block;
	margin-right: 20px;
}

header nav div div ul li a{
	display: block;
	color: #fff;
	text-decoration: none;
    background: black;
}

.text-name{
    font-size: large;
    color: black;
    font-family: sans-serif;
    text-align: center;
}

.text-nim-class{
    font-size: medium;
    color: black;
    font-family: sans-serif;
    text-align: center;
}

h2{
    text-align: center;
}

iframe{
    padding-top: 20px;
    width: 100%;
    height: 100%;
}

section div div div{
    padding-top: 20px;
    padding-inline-start: 20px;
}
